<div class="container my-4">
         
         
    <!-- Employees Tab -->
    <div class="tab-pane fade show active" id="employees" role="tabpanel">
        <div class="row">
            <div class="col-6">
                <h2>Employees</h2>
            </div>
            <div class="col-6 text-end">
                <button class="btn btn-success" (click)="isFormVisible.set(true)">Add New</button>
            </div>
        </div>
       
        @if(isFormVisible()) {
 <form class="mb-4">
            <div class="row">
                <div class="col-md-6">
                    <label for="employeeName" class="form-label">Employee Name</label>
                    <input type="text" class="form-control" id="employeeName" placeholder="Enter employee name">
                </div>
                <div class="col-md-6">
                    <label for="contactNo" class="form-label">Contact No</label>
                    <input type="text" class="form-control" id="contactNo" placeholder="Enter contact number">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label for="emailId" class="form-label">Email</label>
                    <input type="email" class="form-control" id="emailId" placeholder="Enter email">
                </div>
                <div class="col-md-4">
                    <label for="deptId" class="form-label">Parent Department</label>
                    <select id="deptId" class="form-select" [(ngModel)]="parentDeptId" name="parentDeptId" (change)="onParentDeptChange()">
                    @for(item of parentDeptList(); track $index) {
                        <option [value]="item.departmentId">{{item.departmentName}}</option>
                    }
                        <!-- Department options -->
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="deptId" class="form-label">Child Department</label>
                    <select id="deptId" class="form-select">
                        @for(item of childDeptList(); track $index) {
                            <option [value]="item.childDeptId">{{item.departmentName}}</option>
                        }
                        <!-- Department options -->
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password">
                </div>
                <div class="col-md-6">
                    <label for="role" class="form-label">Role</label>
                    <input type="text" class="form-control" id="role" placeholder="Enter role">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="gender" class="form-label">Gender</label>
                    <select id="gender" class="form-select">
                        <option selected>Select gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3 me-3">Submit</button>
            <button class="btn btn-success mt-3" (click)="isFormVisible.set(false)">Close</button>

        </form>
        } 
        <!-- Employee Form -->
       

        <!-- Employee Table -->
        <h3>Employee List</h3>
        <table class="table table-bordered">
            <thead>
                <tr class="text-center">
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Contact No</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Role</th>
                    <th>Gender</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @for(item of empList(); track $index){
                <tr class="text-center">
              <td>{{item.employeeId}}</td>
              <td>{{item.employeeName}}</td>
              <td>{{item.contactNo}}</td>
              <td>{{item.emailId}}</td>
              <td>{{item.deptId}}</td>
              <td>{{item.role}}</td>
              <td>{{item.gender}}</td>
              <td>
                <div class="buttons d-flex gap-1">
                <button class="btn btn-success">Edit</button>
                <button class="btn btn-danger">Edit</button>
                </div>

              </td>
      
                </tr>  
                }
     
            </tbody>
        </table>
    </div>

  
</div>