/* You can add global styles to this file, and also import other style files */
@use 'node_modules/@angular/material' as mat;
/* // Customize the entire app. Change :root to your selector if you want to scope the styles. */
:root{
  @include mat.button-overrides((
    filled-container-color: orange,
    filled-label-text-color: red,
  ));
}
.form-control, .form-select {
    border: 1px solid !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
